---
name: CI
'on':
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: "0 7 * * 0"

defaults:
  run:
    working-directory: 'bsmeding.docker'

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v6
        with:
          path: 'bsmeding.docker'

      - name: Set up Python 3.
        uses: actions/setup-python@v6
        with:
          python-version: '3.12' # 3.x installad 3.14 and that is not supported by Ansible

      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      - name: Install test dependencies.
        run: uv pip install --system yamllint

      - name: Lint code.
        run: |
          yamllint .

  molecule:
    name: Molecule
    runs-on: ubuntu-latest
    strategy:
      matrix:
        distro:
          # - debian11
          - debian12
          - debian13
          # - rockylinux8
          # - rockylinux9  # Rocky 9 is not compatible with Docker
          - ubuntu2204
          - ubuntu2404
          # - fedora39
          # - fedora40

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v6
        with:
          path: 'bsmeding.docker'

      - name: Set up Python 3.
        uses: actions/setup-python@v6
        with:
          python-version: '3.12' # 3.x installad 3.14 and that is not supported by Ansible

      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      - name: Install test dependencies.
        run: uv pip install --system ansible-core==2.20.0 molecule molecule-plugins[docker] docker netaddr requests

      - name: Run Molecule tests.
        run: molecule test
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_DISTRO: ${{ matrix.distro }}
          MOLECULE_DOCKER_COMMAND: '/sbin/init'
